.user-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;

  .user-item {
    flex-grow: 1;
    min-height: 12rem;
    background-color: rgb(164, 164, 164);

    &:nth-child(2n + 1) {
      background-color: rgb(128, 128, 128);
    }
  }
}