.user-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
  }

  .user-item {
    flex-grow: 1;
    min-height: 12rem;
    background-color: rgb(164, 164, 164);
    // width: 100%;
    padding: 2rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    &:nth-child(2n + 1) {
      background-color: rgb(128, 128, 128);
    }

    @include desktop {
      max-width: 220px;
      min-width: 220px;
    }

    .user-initials {
      // font-weight: bold;
      font-size: 6rem;
    }

    .user-info {
      font-size: 1.25rem;
    }
  }
}

.user-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 3rem;

  .user-avatar {
    width: 100%;
    height: auto;
    max-height: 75vh;
    max-width: 75vh;
    border-radius: 1rem;

    border-radius: 2rem;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.25rem;

    @include desktop {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
  }

  @include desktop {
    flex-direction: row;
  }
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}
